{% extends "base_apps_v2.html.jinja" %}
{% block title %}Braille{% endblock %}
{% block h1 %}Braille{% endblock %}
{% block input_area %}
                <div class="grid center" style="width:80%;">
                    <button class="circle center s6 m2 l2 grey" v-if="isOn_1 === false" v-on:click="click_1">
                        <span>1</span>
                    </button>
                    <button class="circle center s6 m2 l2 blue" v-else="isOn_1 === true" v-on:click="click_1">
                        <span>1</span>
                    </button>

                    <button class="circle center s6 m2 l2 grey" v-if="isOn_4 === false" v-on:click="click_4">
                        <span>4</span>
                    </button>
                    <button class="circle center s6 m2 l2 blue" v-else="isOn_4 === true" v-on:click="click_4">
                        <span>4</span>
                    </button>        
                </div>
                <div class="grid center" style="width:80%;">
                    <button class="circle center s6 m2 l2 grey" v-if="isOn_2 === false" v-on:click="click_2">
                        <span>2</span>
                    </button>
                    <button class="circle center s6 m2 l2 blue" v-else="isOn_2 === true" v-on:click="click_2">
                        <span>2</span>
                    </button>

                    <button class="circle center s6 m2 l2 grey" v-if="isOn_5 === false" v-on:click="click_5">
                        <span>5</span>
                    </button>
                    <button class="circle center s6 m2 l2 blue" v-else="isOn_5 === true" v-on:click="click_5">
                        <span>5</span>
                    </button>        
                </div>
                <div class="grid center" style="width:80%;">
                    <button class="circle center s6 m2 l2 grey" v-if="isOn_3 === false" v-on:click="click_3">
                        <span>3</span>
                    </button>
                    <button class="circle center s6 m2 l2 blue" v-else="isOn_3 === true" v-on:click="click_3">
                        <span>3</span>
                    </button>

                    <button class="circle center s6 m2 l2 grey" v-if="isOn_6 === false" v-on:click="click_6">
                        <span>6</span>
                    </button>
                    <button class="circle center s6 m2 l2 blue" v-else="isOn_6 === true" v-on:click="click_6">
                        <span>6</span>
                    </button>        
                </div>
                
                <div class="grid center" style="width:80%;">
                    <div class="center-align s12 m4 l4">
                        <h5 class="mono grey-text" style="display:inline;">[[result_value]]</h5>
                        <button class="circle small" v-on:click="assign">
                        <i>send</i>
                        </button>
                    </div>
                </div>

                <div class="grid center" style="width:80%;">
                    <div class="field border fill mono s12 m4 l4">
                        <textarea class="grey2 black-text" v-model="output"></textarea>
                    </div>
                </div>
            {% endblock %}
            {% block standard_results_area %}
            {% endblock %}
            {% block vue_app_data %}
                        isOn_1:false,
                        isOn_2:false,
                        isOn_3:false,
                        isOn_4:false,
                        isOn_5:false,
                        isOn_6:false,
                        output:"",
                        result_value:"",
            {% endblock %}
            {% block vue_app_methods %}
                    update: function () {
                        url = new URL('gear/braille_gen', {{BASEURL|tojson}});
                        axios.post(url, {
                            b1: this.isOn_1,
                            b2: this.isOn_2,
                            b3: this.isOn_3,
                            b4: this.isOn_4,
                            b5: this.isOn_5,
                            b6: this.isOn_6
                        }).then(response => this.result_value = response.data);
                    },
                    click_1: function (){
                        this.isOn_1 = !this.isOn_1;
                        this.update();
                    },
                    click_2: function (){
                        this.isOn_2 = !this.isOn_2;
                        this.update();
                    },
                    click_3: function (){
                        this.isOn_3 = !this.isOn_3;
                        this.update();
                    },
                    click_4: function (){
                        this.isOn_4 = !this.isOn_4;
                        this.update();
                    },
                    click_5: function (){
                        this.isOn_5 = !this.isOn_5;
                        this.update();
                    },
                    click_6: function (){
                        this.isOn_6 = !this.isOn_6;
                        this.update();
                    },
                    assign: function (){
                        this.output = this.output + this.result_value;
                        this.isOn_1 = false;
                        this.isOn_2 = false;
                        this.isOn_3 = false;
                        this.isOn_4 = false;
                        this.isOn_5 = false;
                        this.isOn_6 = false;
                    },
                {% endblock %}