{% extends "base_apps_v2.html.jinja" %}
{% block title %}Password Generator{% endblock %}
{% block h1 %}Password Generator{% endblock %}
{% block input_area %}
            <div class="field border small fill medium-width">
                <select required id="char_type" v-on:input="update">
                    <option value="" hidden>Choose</option>
                    <option value="0" selected>A-Z, a-z, 0-9</option>
                    <option value="1">A-Z, a-z, 0-9, !@#$%^&</option>
                    <option value="2">A-Z, a-z</option>
                    <option value="3">A-Z</option>
                    <option value="4">a-z</option>
                    <option value="5">0-9</option>
                    <option value="6">A-Z, a-z, !@#$%^&</option>
                    <option value="7">A-Z, 0-9</option>
                    <option value="8">a-z, 0-9</option>
                </select>
                <i>arrow_drop_down</i>
            </div>
            <div class="field border mono small-width horizontal center-align middle-align">
                <input type="text" class="grey2 black-text" id="length" inputmode="numeric" v-on:input="update" value="" placeholder="length">
                <button class="transparent circle" v-on:click="update"><i class="large">Refresh</i></button>
            </div>
{% endblock %}
{% block vue_app_methods %}
                    update: function () {
                        char_type = document.getElementById( "char_type" ).value;
                        length = document.getElementById( "length" ).value;
                        if (length == ""){
                            this.results = [];
                        } else {
                            url = new URL('gear/pwgen_gen', {{BASEURL|tojson}});
                            axios.post(url, {
                                char_type: char_type,
                                length:length
                            }).then(response => this.results = response.data);
                        }
                    }
{% endblock %}