{% extends "base_apps_v2.html.jinja" %}
{% block title %}Resize image{% endblock %}
{% block h1 %}Resize image{% endblock %}
{% block input_area %}
            <div class="field label border small-width textOverFlowHidden" v-on:change="onFileChange">
                <input type="text">
                <input type="file">
                <label>[[input_label]]</label>
            </div>

            <div class="grid">
                <div class="field no-margin label border fill small s6 m2 l2">
                    <input type="number" size ="4" maxlength="3" id="img_width" value="1080" v-on:input="onParamChange">
                    <label class="active">Width (px)</label>
                </div>
                <div class="field no-margin label border fill small s6 m2 l2">
                    <input type="number" size ="4" maxlength="3" id="img_height" value="2400" v-on:input="onParamChange">
                    <label class="active">Height (px)</label>
                </div>
            </div>

            <h6>Back ground color</h6>
            <div class="field middle-align">
                <div id="colorRadioButtons">
                    <label class="radio">
                        <input type="radio" name="bgcolor_radio" id="auto" value="auto" checked v-on:change="onBGcolorChange">
                        <span>Auto</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="bgcolor_radio" id="transparent" value="transparent" v-on:change="onBGcolorChange">
                        <span>Transparent</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="bgcolor_radio" id="designated" value="designated" v-on:change="onBGcolorChange">
                        <span>Designated color</span>
                    </label>
                    <div id="designated-color-input" class="field no-margin label border fill small s6 m2 l2" style="display:none;">
                        <label class="active">RGB</label>
                        <input type="text" id="rgb" maxlength="6" placeholder="e.g. FFFFFF" v-on:change="onBGcolorChange">
                    </div>
                </div>
            </div>
            <div id="output_name" class="field label border fill medium-width">
                <label class="active">Output filename</label>
                <input type="text" v-on:change="onParamChange">
                <span class="helper">If empty, the same name as the input file is used.</span>
            </div>
            <button class="round" type="submit" v-on:click.prevent="onSubmit">
                <span>Upload and resize</span>
            </button>
{% endblock %}
{% block standard_results_area %}
{% endblock %}
{% block spcial_results_area %}
            <br>                
            <p>[[status_message]]</p>
            <img style="width:80%" v-if="imageUrl" :src="imageUrl">
{% endblock %}
{% block vue_app_data %}
                    image: null,
                    imageUrl: null,
                    img_width: "1080",
                    img_height: "2400",
                    output_name: "",
                    bgcolor: "Auto",
                    status_message:"",
                    input_label:"Choose file",
{% endblock %}
{% block vue_app_methods %}
                    onFileChange(e){
                        this.image = e.target.files[0];
                        this.status_message = this.image.name;
                        this.input_label = this.image.name;
                    },
                    onParamChange(e){
                        this.img_width = document.getElementById( "img_width" ).value;
                        this.img_height = document.getElementById( "img_height" ).value;
                        this.output_name = document.getElementById( "output_name" ).value;
                    },
                    onBGcolorChange(e){
                        var autoRadio = document.getElementById("auto");
                        var designatedColorRadio = document.getElementById("designated");
                        var transparentRadio = document.getElementById("transparent");
                        var rgb = document.getElementById("rgb").value;
                        if(autoRadio.checked){
                            this.bgcolor = "Auto";
                        } else if(designatedColorRadio.checked) {
                            this.bgcolor = rgb;
                        } else if(transparentRadio.checked) {
                            this.bgcolor = "Transparent";
                        }
                    },
                    onSubmit() {
                        var formData = new FormData();
                        var pattern = /^[0-9A-Fa-f]{6}$/i;
                        if (this.image===null){
                            this.status_message = "Select an image."
                        } else if (!(pattern.test(this.bgcolor) || this.bgcolor === 'Auto' || this.bgcolor === 'Transparent')) {
                            this.status_message =this.image.name + "\n" + this.bgcolor + " is not a valid color code."
                        } else {
                            this.status_message = 'Coverting image: '+this.image.name + "\n" + "Background color: " + this.bgcolor
                            formData.append('image', this.image);
                            formData.append('img_width', this.img_width);
                            formData.append('img_height', this.img_height);
                            formData.append('bgcolor', this.bgcolor);
                            formData.append('output_name', this.output_name);

                            axios.post("/g/resize/",formData).then(response => 
                                {this.imageUrl = response.data.image_url,
                                this.status_message = "completed!"});
                        }
                    }
{% endblock %}
{% block extra_script %}
        <script>
            var colorRadioButtons = document.getElementById("colorRadioButtons");
            var designatedColorInput = document.getElementById("designated-color-input");
            var designatedColorRadio = document.getElementById("designated");

            colorRadioButtons.addEventListener("change", function(){
                if(designatedColorRadio.checked){
                    designatedColorInput.style.display = "block";
                } else {
                    designatedColorInput.style.display = "none";
                }
            });
        </script>
{% endblock %}
