{% extends "base_apps_v2.html.jinja" %}
{% block title %}Passcode Challenge{% endblock %}
{% block h1 %}<span class="center">Passcode Challenge: Change log</span>{% endblock %}
{% block input_area %}
    <div class="large-width center">
            <p>V1.0 2023/2/19: Released with basic functionalities and 23 codes.</p>
            <p>V1.1 2023/2/19: Added English version of "How to play".</p>
            <p>V1.1.1 2023/2/19: Added codes upto #69.</p>
            <p>V1.2 2023/2/19: Added hint function.</p>
            <p>V1.2.1 2023/2/19: Added codes upto #122. Added hint to #8, 9, 15, 19, 22.</p>
            <p>V1.2.2 2023/2/22: Added codes upto #187. Added hint to #55, 69, 79.</p>
            <p>V1.2.3 2023/2/23: Fixed answer #71. Added hint to #78. Added codes upto #200 </p>
            <p>V1.2.4 2023/2/24: Revised #107 because the original code contained an error.<a href="https://a3xgvo-weblog.blogspot.com/2023/02/forget.html" class="link">*</a></p>
            <br>
            <a class="link", href="./howtoplay">How to play</a>
    </div>
{% endblock %}
{% block standard_results_area %}
{% endblock %}
