{% extends "base_apps_v2.html.jinja" %}
{% block title %}Passcode Challenge{% endblock %}
{% block h1 %}<span class="center">Passcode Challenge: Change log</span>{% endblock %}
{% block input_area %}
    <div class="large-width center">
            <p>V1.0 2023/2/19: Released with basic functionalities and 23 codes.</p>
            <p>V1.1 2023/2/19: Added English version of "How to play".</p>
            <p>V1.1.1 2023/2/19: Added codes upto #69.</p>
            <p>V1.2 2023/2/19: Added hint function.</p>
            <p>V1.2.1 2023/2/19: Added codes upto #122. Added hint to #8, 9, 15, 19, 22.</p>
            <br>
            <a class="link", href="./howtoplay">How to play</a>
    </div>
{% endblock %}
{% block standard_results_area %}
{% endblock %}
