{% extends "Challenge/cryptobrella.html.jinja" %}
{% block title %}Crypto Brella - Challenge{% endblock %}
{% block content %}
                <p><strong>Start at</strong></p>

                <ul>
                    <li><a href="./459df0165b44">Greek mythology</a> (easy course)</li>
                    <li><a href="./5087cfe6bbe3">Cinema</a></li>
                    <li><a href="./3c684e84d448">Desserts</a></li>
                    <li><a href="./310982b58707">Games</a></li>
                </ul>

                <p><strong>How to play</strong></p>

                <p>Start with the above links. Each path has 5 decoding puzzles.</p>
                <p>Input your answer into the box on each page. You'd be taken to the next challenge if the answer is correct. Answers consist of alphabets (case-insensitive) and numbers only.</p>
                <p>When you encounter a difficulty, type <em>hint</em> into the answer box.</p>

                <p></p>Ciphers are created by <a href="https://twitter.com/a3xgvo" target="_blank">a3xgvo</a>.</p>
{% endblock %}
