body.dark{
  background: #2d3037;
}

.bg_cryptodark{
  background-color: #2d3037;
}

h1, h2, h3, h4, h5 {
  color: #8ce1f5;
}

.mono {
  font-family:"Roboto Mono", Consolas, monospace;
}

.results_area {
  white-space: break-spaces;
}

.textOverFlowHidden{
  overflow: hidden;
}

.prosaic{
  line-height:1.9;
}
