{% extends "prosaic.html.jinja" %}
{% block title %}ROT{% endblock %}
{% block h1 %}ROT{% endblock %}
{% block input_area %}
<h2>暗号方式</h2>

<p>ROT Nはアルファベットを、ABC…の順番に沿ってN番ずらす、例えばROT 3であればAをDに、BをEに移す暗号です。Zを超えるとAに戻ります。例えばROT 3であればYはBに移ります。
</p>
<p>最もシンプルなタイプの暗号で、特にROT 13はPythonのCODECモジュールにも組み込まれているなど、最初に知る暗号、暗号の基礎の基礎としての王様の位置にあると思います。</p>
<p>暗号強度は皆無で、これ単品でなんら暗号としての用を果たすことはありません。しかしROT13は「一見して内容はわからないが、その気になれば簡単に解読できる」という特徴から、BBSでネタバレを避けたい人に配慮して発言する際やジオキャッシングでヒントを出す際などに使われるというユースケースも存在しました。
</p>
<p>ROT NでN番先に進めた暗号のデコードは、ROT -Nとなります。アルファベットは26文字のため、ROT -13はROT 13と一致し、そのためROT13でエンコードしたものはROT13でデコードすることができます。このエンコード・デコードの向きを気にしなくていい対象性も、上記のユースケースでROT13が好まれた理由の一つだと考えています。例えば「ROT 5です」と言われて暗号文を渡されたときに、+5したらデコードできるのか-5したらデコードできるのか迷うことがあるので。
</p>
<p>古くは古代ローマのカエサル(シーザー)がこの方式の暗号を用いたという逸話から、カエサル暗号・シーザー暗号という呼び名もあります。当時でもこの方式に暗号としての十分な強度があったとは考えづらく、もう少し複雑な文脈があるか、あるいは根も葉もないか・・と個人的には考えていますが、調査するのも難しいため踏み込みません。
</p>
<p>ROTという呼び名はアルファベットの環を回すイメージでRotateあたりの単語由来かと思われます。
</p>
<h2>使い方</h2>
<p>本サイトのツールでは、入力された文章に対し、ROT 0から+25までを一覧で出力します。通常のアルファベットのみを変換の対象とし、数字や記号、他言語の文字種については入力された内容のまま出力します。
</p>
<p>大文字で入力されたものは大文字のまま、小文字で入力されたものは小文字のままでROT変換を行います。
</p>

{% endblock %}
