{% extends "base_apps.html.jinja" %}
{% block title %}Base64 etc.{% endblock %}
{% block h1 %}Base32, Base64, UUencode, ASCII85, Base85{% endblock %}
{% block input_area %}
        <p>Input</p>
        <textarea id="TXT" class="input_text_area" v-on:input="update"></textarea>
        <div class="cp_ipselect cp_sl01">
            <select required id="mode" v-on:input="update">
                <option value="" hidden>Choose</option>
                <option value="Decode" selected>Decode</option>
                <option value="Encode">Encode</option>
            </select>
        </div>
{% endblock %}
{% block vue_app_methods %}
                    update: function () {
                        input_text = document.getElementById( "TXT" ).value;
                        mode = document.getElementById( "mode" ).value;
                        if (input_text == ""){
                            this.results = [];
                        } else {
                            url = new URL('gear/base64_gen', {{BASEURL|tojson}});
                            axios.post(url, {
                                input_text: input_text,
                                mode: mode,
                            }).then(response => this.results = response.data);
                        }
                    }
{% endblock %}
