{% extends "base_apps.html" %}
{% block title %}Base64 etc.{% endblock %}
{% block h1 %}Base32, Base64, UUencode, ASCII85, Base85{% endblock %}
{% block content %}
        <div id="app">
            <p>Input</p>
            <textarea id="TXT" class="input_text_area" v-on:input="base64"></textarea>
            <div class="cp_ipselect cp_sl01">
                <select required id="mode" v-on:input="base64">
                    <option value="" hidden>Choose</option>
                    <option value="Decode" selected>Decode</option>
                    <option value="Encode">Encode</option>
                </select>
            </div>

            <p class="sec_title">Results</p>
            
            <div class="results_area" v-for="row in results">
                [[row]]
            </div>
        </div>
        
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                        results:[]
                },
                methods: {
                    base64: function () {
                        input_text = document.getElementById( "TXT" ).value;
                        mode = document.getElementById( "mode" ).value;
                            url = new URL('fn/base64', {{BASEURL|tojson}});
                            axios.post(url, {
                                input_text: input_text,
                                mode: mode,
                            }).then(response => this.results = response.data);
                    }
                },
                delimiters: ['[[', ']]']
            })
        </script>
{% endblock %}