{% extends "base_apps.html.jinja" %}
{% block title %}Character Code{% endblock %}
{% block h1 %}Character Code{% endblock %}
{% block input_area %}
            <p>Text/Code points</p>
            <textarea id="TXT" class="input_text_area" v-on:input="update"></textarea>
            <div class="selector_type1">
                <select required id="mode" v-on:input="update">
                    <option value="" hidden>Choose</option>
                    <option value="Char to Codepoint" selected>Char to Codepoint</option>
                    <option value="Codepoint to Char">Codepoint to Char</option>
                </select>
            </div>

            <p>Number base<p>
            <textarea id="base" cols ="3" style="width:auto;" class="input_text_area_key" inputmode="number" v-on:input="update">16</textarea>
{% endblock %}
{% block vue_app_methods %}
                    update: function () {
                        input_text = document.getElementById( "TXT" ).value;
                        mode = document.getElementById( "mode" ).value;
                        base = document.getElementById( "base" ).value;
                            url = new URL('gear/charcode_gen', {{BASEURL|tojson}});
                            axios.post(url, {
                                input_text: input_text,
                                mode: mode,
                                base:base
                            }).then(response => this.results = response.data);
                    }
{% endblock %}