{% extends "base_apps.html.jinja" %}
{% block title %}Columnar{% endblock %}
{% block h1 %}Columnar{% endblock %}
{% block input_area %}
            <p>Text</p>
            <textarea id="TXT" class="input_text_area" v-on:input="update"></textarea>
            <p>Key</p>
            <textarea id="KEY" class="input_text_area_key" v-on:input="update"></textarea>
{% endblock %}
{% block vue_app_methods %}
                    update: function () {
                        input_text = document.getElementById( "TXT" ).value;
                        key = document.getElementById( "KEY" ).value;
                        if (input_text == "" || key == ""){
                            this.results = [];
                        } else {
                            url = new URL('gear/columnar_gen', {{BASEURL|tojson}});
                            axios.post(url, {
                                input_text: input_text,
                                key: key
                            }).then(response => this.results = response.data);
                        }
                    }
{% endblock %}