{% extends "base_apps.html.jinja" %}
{% block title %}Hash{% endblock %}
{% block h1 %}Hash{% endblock %}
{% block input_area %}
        <textarea id="TXT" class="input_text_area" v-on:input="update"></textarea>
{% endblock %}
{% block vue_app_methods %}
                    update: function () {
                        input_text = document.getElementById( "TXT" ).value;
                        if (input_text == ""){
                            this.results = [];
                        } else {
                            url = new URL('gear/hash_gen', {{BASEURL|tojson}});
                            axios.post(url, {
                                input_text: input_text
                            }).then(response => this.results = response.data);
                        }
                    }
{% endblock %}