<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <link rel="stylesheet" href="/static/css/index.css">
        <title>Cipher Tool Box</title>
    </head>
    <body>
        <h1>Cipher Tool Box</h1>
        <nav>
            <ul>
                <li class="category-bar"><h3>Substitution</h3></li>
                <li><a href="/rot" target="_blank"><img class="icon"  src="/static/image/icon01.png">ROT</a></li>
                <li><a href="/vigenere" target="_blank"><img class="icon" src="/static/image/icon02.png">Vigenere etc.</a></li>
                <li><a href="/purple" target="_blank"><img class="icon" src="/static/image/icon03.png">PURPLE</a></li>
                <li><a href="/enigma" target="_blank"><img class="icon" src="/static/image/icon04.png">Enigma</a></li>
                <li><a href="/simplesub" target="_blank"><img class="icon" src="/static/image/icon05.png">Simple<br>Substitutions</a></li>

                <li class="space-bar"><br></li>
                <li class="category-bar"><h3>Transposition</h3></li>
                <li><a href="/reverse" target="_blank"><img class="icon" src="/static/image/icon06.png">Reverse</a></li>
                <li><a href="/rectangle" target="_blank"><img class="icon" src="/static/image/icon07.png">Rectangle</a></li>
                <li><a href="/railfence" target="_blank"><img class="icon" src="/static/image/icon08.png">Railfence</a></li>
                <li><a href="/columnar" target="_blank"><img class="icon" src="/static/image/icon09.png">Columnar</a></li>

                <li class="space-bar"><br></li>
                <li class="category-bar"><h3>Other tools</h3></li>
                <li><a href="/frequency" target="_blank"><img class="icon" src="/static/image/icon10.png">Frequency Analysis</a></li>
                <li><a href="/base64" target="_blank"><img class="icon" src="/static/image/icon11.png">Base64 etc.</a></li>
                <li><a href="/hash" target="_blank"><img class="icon" src="/static/image/icon12.png">Hash</a></li>
                <li><a href="/morse" target="_blank"><img class="icon" src="/static/image/icon18.png">Morse</a></li>
                <li><a href="/prime" target="_blank"><img class="icon" src="/static/image/icon14.png">Prime Decomposition <br>(素因数分解)</a></li>
                <li><a href="/pwgen" target="_blank"><img class="icon" src="/static/image/icon15.png">Password Generator</a></li>
                <li><a href="/charcode" target="_blank"><img class="icon" src="/static/image/icon16.png">Character Code</a></li>
                <li><a href="/charreplace" target="_blank"><img class="icon" src="/static/image/icon13.png">Character replace</a></li>
            </ul>
        </nav>
        <br>
        <p align="center">Contact: a3xgvo 
          <a href="https://twitter.com/a3xgvo" target="_blank">Twitter</a> 
          <a href="https://a3xgvo-weblog.blogspot.com" target="_blank">Blog</a>
          <a href="https://crypted.wp-x.jp" target="_blank">Challenge</a>
        </p>
    </body>

</html>

