{% extends "base_apps_v2.html.jinja" %}
{% block title %}Morse{% endblock %}
{% block h1 %}Morse{% endblock %}
{% block input_area %}
        <div class="field textarea border fill large mono">
            <textarea class="grey2 black-text" id="TXT" v-on:input="update"></textarea>
        </div>
        <div class="field border small fill small-width">
            <select required id="mode" v-on:input="update">
                <option value="" hidden>Choose</option>
                <option value="Decode" selected>Decode</option>
                <option value="Encode">Encode</option>
            </select>
            <i>arrow_drop_down</i>
        </div>
{% endblock %}
{% block vue_app_methods %}
                    update: function () {
                        input_text = document.getElementById( "TXT" ).value;
                        mode = document.getElementById( "mode" ).value;
                        if (input_text == ""){
                            this.results = [];
                        } else {
                            url = new URL('gear/morse_gen', {{BASEURL|tojson}});
                            axios.post(url, {
                                input_text: input_text,
                                mode: mode,
                            }).then(response => this.results = response.data);
                        }
                    }
{% endblock %}
