{% extends "base_apps.html" %}
{% block title %}Prime Decomposition{% endblock %}
{% block h1 %}Prime Decomposition (素因数分解){% endblock %}
{% block content %}
        <div id="app">
            <textarea id="TXT" class="input_text_area" v-on:input="prime"></textarea>
            <br>
            <p>Results</p>
            
            <div class='results_area' v-for="row in results">
                [[row]]
            </div>
        </div>
        
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                        results:[]
                },
                methods: {
                    prime: function () {
                        input_text = document.getElementById( "TXT" ).value;
                        if (input_text == ""){
                            this.results = [];
                        } else {
                            url = new URL('fn/prime', {{BASEURL|tojson}});
                            axios.post(url, {
                                input_text: input_text
                            }).then(response => this.results = response.data);
                        }
                    }
                },
                delimiters: ['[[', ']]']
            })
        </script>
{% endblock %}