{% extends "base_apps.html" %}
{% block title %}PURPLE{% endblock %}
{% block h1 %}PURPLE{% endblock %}
{% block content %}
        <p>Also known as パープル暗号, 九七式欧文印字機, 暗号機B型, 97-shiki-obun In-ji-ki, Angooki Taipu B</p>
        <div id="app">
            <textarea id="TXT" class="input_text_area" v-on:input="purple"></textarea>
            
            <p class="sec_title" style="margin-bottom:0px;">Initial position</p>
            <ul style="display:flex; list-style:none; margin-top:0px;" >
                <li style="text-align: left;">
                    <p>SIXes</p>
                    <div class="cp_ipselect cp_sl01 small"> 
                        <select required id="sixes_initial_position" >
                            <option v-for="n in switch_list" :key="n" :value="n">[[n]]</option>
                        </select>
                    </div>
                </li>
                <li style="margin-left:20px; text-align: left;">
                    <p>TWENTIes-1</p>
                    <div class="cp_ipselect cp_sl01 small"> 
                        <select required id="twenties_1_initial_position" v-on:input="purple">
                            <option v-for="n in switch_list" :key="n" :value="n">[[n]]</option>
                        </select>
                    </div>
                </li>
                <li style="margin-left:20px; text-align: left;">
                    <p>TWENTIes-2</p>
                    <div class="cp_ipselect cp_sl01 small"> 
                        <select required id="twenties_2_initial_position" v-on:input="purple">
                            <option v-for="n in switch_list" :key="n" :value="n">[[n]]</option>
                        </select>
                    </div>
                </li>
                <li style="margin-left:20px; text-align: left;">
                    <p>TWENTIes-3</p>
                    <div class="cp_ipselect cp_sl01 small"> 
                        <select required id="twenties_3_initial_position" v-on:input="purple">
                            <option v-for="n in switch_list" :key="n" :value="n">[[n]]</option>
                        </select>
                    </div>
                </li>
            </ul>
        
            <ul style="display:flex; list-style:none; margin-top:0px;" >
                <li>
                    <p class="sec_title">Motion</p>
                    <div class="cp_ipselect cp_sl01"> 
                        <select required id="rotor_motion_key" v-on:input="purple">
                            <option value="" hidden>Choose</option>
                            <option value="123" selected>123: fast, middle, slow</option>
                            <option value="132">132: fast, slow, middle</option>
                            <option value="213">213: middle, fast, slow</option>
                            <option value="312">312: middle, slow, fast</option>
                            <option value="231">231: slow, fast, middle</option>
                            <option value="321">321: slow, middle, fast</option>
                        </select>
                    </div>
                    <p>ex. 132 means Switch #1 is fast, Switch #3 is middle and Switch #2 is slow</p>
                </li>
            </ul>

            <ul style="display:flex; list-style:none; margin-top:0px;" >
                <li>
                    <p class="sec_title">Plugboard</p>
                    <div class="input_text_area_key"> 
                        <input size ="26" maxlength="26" id="plugboard" value="AEIOUYBCDFGHJKLMNPQRSTVWXZ" v-on:input="purple">
                    </div>
                </li>
            </ul>

            <br>
            <p class="sec_title">Results</p>
            
            <div class="results_area" v-for="row in results">[[row]]</div>

        </div>
        
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                        selected:1,
                        switch_list:[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25],
                        results:[]
                },
                methods: {
                    purple: function () {
                        input_text = document.getElementById( "TXT" ).value;
                        sixes_switch_position = document.getElementById( "sixes_initial_position" ).value;
                        twenties_switch_1_position = document.getElementById( "twenties_1_initial_position" ).value;
                        twenties_switch_2_position = document.getElementById( "twenties_2_initial_position" ).value;
                        twenties_switch_3_position = document.getElementById( "twenties_3_initial_position" ).value;
                        plugboard_full= document.getElementById( "plugboard" ).value;
                        rotor_motion_key= document.getElementById( "rotor_motion_key" ).value;
                        if (input_text == "" ){
                            this.results = [];
                        } else {
                            url = new URL('fn/purple', {{BASEURL|tojson}});
                            axios.post(url, {
                                input_text: input_text,
                                sixes_switch_position: sixes_switch_position,
                                twenties_switch_1_position: twenties_switch_1_position,
                                twenties_switch_2_position: twenties_switch_2_position,
                                twenties_switch_3_position: twenties_switch_3_position,
                                plugboard_full: plugboard_full,
                                rotor_motion_key: rotor_motion_key,
                            }).then(response => this.results = response.data);
                        }
                    }
                },
                delimiters: ['[[', ']]']
            })
        </script>
{% endblock %}