<!DOCTYPE html>
<html>
    <head>
        <title>ROT</title>
        <meta name="viewport" content="width=device-width" >
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <h1>ROT</h1>
        <div id="app">
            <textarea id="TXT" class="input_text_area" v-on:input="rot"></textarea>
            <br>
            <p>Results</p>
            
            <div class='results_area' v-for="row in results">
                [[row]]
            </div>
        </div>
        
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                        results:[]
                },
                methods: {
                    rot: function () {
                        input_text = document.getElementById( "TXT" ).value;
                        if (input_text == ""){
                            this.results = [];
                        } else {
                            url = new URL('fn/rot', {{BASEURL|tojson}});
                            axios.post(url, {
                                input_text: input_text
                            }).then(response => this.results = response.data);
                        }
                    }
                },
                delimiters: ['[[', ']]']
            })
        </script>

    </body>
</html>