{% extends "base_apps_v2.html.jinja" %}
{% block title %}subs_handsolve{% endblock %}
{% block h1 %}subs_handsolve{% endblock %}
{% block lead %}Substitution hand solver (not linked from top){% endblock %}
{% block input_area %}
            <h6 class="small">Text</h6>
            <div class="field textarea border fill large mono">
                <textarea class="grey2 black-text" id="TXT" v-on:input="update"></textarea>
            </div>
            <h6 class="small">Replace from</h6>
            <div class="field border fill mono">
                <input type="text" class="grey2 black-text" id="subs_from" v-on:input="update">
            </div>
            <h6 class="small">Replace to</h6>
            <div class="field border fill mono">
                <input type="text" class="grey2 black-text" id="subs_to" v-on:input="update">
            </div>
{% endblock %}
{% block vue_app_methods %}
                    update: function () {
                        input_text = document.getElementById( "TXT" ).value;
                        subs_from = document.getElementById( "subs_from" ).value;
                        subs_to = document.getElementById( "subs_to" ).value;
                        if (input_text == ""){
                            this.results = [];
                        } else {
                            url = new URL('gear/subs_handsolve_gen', {{BASEURL|tojson}});
                            axios.post(url, {
                                input_text: input_text,
                                subs_from: subs_from,
                                subs_to:subs_to
                            }).then(response => this.results = response.data);
                        }
                    }
{% endblock %}