{% extends "base_apps_v2.html.jinja" %}
{% block title %}Convert to Coordinates{% endblock %}
{% block h1 %}Convert to Coordinates{% endblock %}
{% block lead %}"what3words" service's 3 word address to coordinates{% endblock %}
{% block input_area %}
        <div class="grid margin">
            <div class="field no-margin label border fill small s12 m4 l4">
                <input inputmode="text" id="words" v-on:keydown.enter="onSubmit">
                <label>What3Words</label>
            </div>
        </div>
         <div class="grid margin">
            <button class="round s12 m4 l4" type="submit" v-on:click.prevent="onSubmit">
                <span>get coordinates</span>
            </button>
        </div>
{% endblock %}
{% block vue_app_methods %}
                    onSubmit() {
                        words = document.getElementById( "words" ).value;
                        url = new URL('gear/to_coordinates_gen', {{BASEURL|tojson}});
                        axios.post(url, {
                            words: words,
                        }).then(response => this.results = response.data);
                    }
{% endblock %}