<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <link rel="stylesheet" href="/static/css/cipher-tool.css">
        <title>Wallpaper</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <h1>Wallpaper</h1>
        
        <div id="app">
            <form>
                <input type="file" v-on:change="onFileChange" style="color: white"><br>
                <ul style="display:flex; list-style:none;" >
                    <li style="text-align: left;">
                        <p>Width</p>
                        <div class="input_text_area_key">
                            <input size ="4" maxlength="4" id="img_width" v-on:change="onParamChange" value="1080">
                        </div>
                    </li>  
                    <li style="margin-left:20px; text-align: left;">
                        <p>Height</p>
                        <div class="input_text_area_key">
                            <input size ="4" maxlength="4" id="img_height" v-on:change="onParamChange"  value="2400">
                        </div>
                    </li>            
                </ul>
                <ul style="display:flex; list-style:none;" >
                    <li style="text-align: left;">
                        <p>Output filename</p>
                        <div class="input_text_area_key">
                            <input size ="20" id="output_name" v-on:change="onParamChange">
                        </div>
                    </li>          
                </ul>
                <input type="submit" v-on:click.prevent="onSubmit" value="Upload and generate wallpaper" />
            </form>
            <br>
                
            <p>[[status_message]]</p>
            <img v-if="imageUrl" :src="imageUrl">
        </div>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    image: null,
                    imageUrl: null,
                    img_width: "1080",
                    img_height: "2400",
                    output_name: "",
                    status_message:""
                },
                methods: {
                    onFileChange(e){
                        this.image = e.target.files[0];
                        this.status_message = this.image.name;
                    },
                    onParamChange(e){
                        this.img_width = document.getElementById( "img_width" ).value;
                        this.img_height = document.getElementById( "img_height" ).value;
                        this.output_name = document.getElementById( "output_name" ).value;
                    },
                    onSubmit() {
                        var formData = new FormData();
                        this.status_message = 'Coverting image: '+this.image.name
                        formData.append('image', this.image);
                        formData.append('img_width', this.img_width);
                        formData.append('img_height', this.img_height);
                        formData.append('output_name', this.output_name);

                        axios.post("/upload/",formData).then(response => 
                            {this.imageUrl = response.data.image_url,
                            this.status_message = "completed!"});
                    }
                },
                delimiters: ['[[', ']]']
            })
        </script>
    </body>

</html>

